
#ola a{
    text-decoration:#DF0101;
    color:#DF0101
}
#ola a:hover{
    color: rgb(245, 66, 66);
}
.vertical{
    height:100px;
    border-left:1px solid;
}
.branco{
    color:white;
}
.vermelho{
    color:#DF0101;
    
}
.verde{
    color:#31B404;
}
.laranja{
    color:#F47D0D;
}
.cinza{
    color:darkgrey;
}
.azul{
    color:#0609AD;
}
#cabeçalho{
    padding: 0px 10px 0px 50px;
    width: 70%;
}
#cabeçalho h1{
    color: white;
    padding: 0px 40px 0px 80px;


}
#cabeçalho h3{
    font-family:arial;
    width: 50px;
    font-size:20px;
    padding: 0px 0px 0px 30px;

}
#cabeçalho h4{
    font-family: arial;
    width:90px;
    font-size:10px;
    color:darkgrey;
    padding: 0px 0px 0px 0px;
}

#tituloprincipal{
  
    font-size: 47px;
    width: 500px;
    padding: 40px 20px 10px 50px; 
    font-family:arial;     
}
    #tituloprincipal h3{
    font-size: 15px;
    color:#DF0101;
    padding: 15px 20px 0px 0px;
    font-family:arial;
}
    #tituloprincipal a{
    text-decoration: #DF0101;
    color:#DF0101;
}
    #tituloprincipal a:hover{  
    color: rgb(245, 66, 66);
}
#noticiassecundarias1{
    float:left;
   
}
#all{
    float:left;
    width: 50%;
    border-bottom-color: rgb(255,255,255);
    border-style:solid;
    border-top-color:rgb(255,255,255);
    border-right-color:rgb(172, 166, 166);
    border-left-color:rgb(255,255,255);
    border-width:thin;
   
}
#all2{
    float:left;
    width:45%;
}
    #um{
        font-size:20px;
        width: 150px;
        padding: 0px 10px 0px 50px;
        font-family:arial;
        font-weight:bold;
        float:left;
    }
    #um a{
        text-decoration: #DF0101;
    color:#DF0101;
    }
    #um a:hover{
        color: rgb(245, 66, 66);
    }
    #dois{
        font-size:20px;
        width: 150px;
        padding: 0px 10px 0px 50px;
        font-family:arial;
        font-weight:bold;
        float:left;
    }
    #dois a{
        text-decoration: #DF0101;
    color:#DF0101;
    }
    #dois a:hover{
        color: rgb(245, 66, 66);
    }
    #tres{
        font-size:20px;
        width: 150px;
        padding: 0px 0px 0px 50px;
        font-family:arial;
        font-weight:bold; 
        float: left;
       
        
    }
    #tres a{
        text-decoration: #DF0101;
    color:#DF0101;
    }
    #tres a:hover{
        color: rgb(245, 66, 66);
    
    }
    #um1{
        font-size:20px;
        width: 150px;
        padding: 0px 10px 0px 50px;
        font-family:arial;
        font-weight:bold;
        float:left;
        clear:left;
    }
    #um1 a{
        text-decoration: #DF0101;
    color:#DF0101;
    }
    #um1 a:hover{
        color: rgb(245, 66, 66);
    }
    #dois2{
        font-size:20px;
        width: 150px;
        padding: 0px 10px 0px 50px;
        font-family:arial;
        font-weight:bold;
        float:left;
    }
    #dois2 a{
        text-decoration: #DF0101;
    color:#DF0101;
    }
    #dois2 a:hover{
        color: rgb(245, 66, 66);
    }
    #tres3{
        font-size:20px;
        width: 150px;
        padding: 0px 10px 0px 50px;
        font-family:arial;
        font-weight:bold;
        float:left;
    }
    #tres3 a{
        text-decoration: #DF0101;
    color:#DF0101;
    }
    #tres3 a:hover{
        color: rgb(245, 66, 66);  
    }
    #noticiasfutebol{
    float:left;
    width:270px;
    font-size: 15px;
    border-bottom-color: rgb(255,255,255);
    border-style:solid;
    border-top-color:rgb(255,255,255);
    border-right-color:rgb(172, 166, 166);
    border-left-color:rgb(255,255,255);
    border-width:thin;
    padding-bottom: 120px;
    padding-top: 20px;
    

    
    }
    #fut1{
        font-size:20px;
        width:215px;
        padding: 0px 10px 20px 50px;
        font-family:arial;
        font-weight:bold;
        
    }
    #fut1 a{
        text-decoration:#31B404 ;
    color:#31B404;
    }
    #fut1 a:hover{
        color: rgb(110, 209, 77);
    }
        #fut2{
            font-size:20px;
            width:215px;
            padding: 0px 10px 20px 50px;
            font-family:arial;
            font-weight:bold;  
        }
        #fut2 a{
            text-decoration: #31B404;
        color:#31B404;
        }
        #fut2 a:hover{
            color: rgb(110, 209, 77);
        }
        #fut3{
            font-size:20px;
            width:215px;
            padding: 0px 10px 20px 50px;
            font-family:arial;
            font-weight:bold;
            
        }
        #fut3{
            text-decoration: #31B404;
        color:#31B404;
        width:200px;
        }
        #fut4{
            font-size:20px;
            width: 170px;
            padding: 0px 10px 10px 50px;
            font-family:arial;
            font-weight:bold;
            
        }
        #fut4 a{
            text-decoration: #31B404;
        color:#31B404;
        }
        #fut4 a:hover{
            color: rgb(110, 209, 77);
        }
        #noticiasfuteis{
            float:left;
            width:200px;
            padding-top: 20px;
            padding-left: 20px;
            
        }
        #not1{
            font-size:20px;
            width: 170px;
            padding: 0px 10px 10px 10px;
            font-family:arial;
            font-weight:bold;
            text-decoration: rgba(247, 94, 6, 0.979);
        color:rgba(247, 94, 6, 0.979);
        }
        #not2{
            font-size:20px;
            width:170px;
            padding:0px 10px 10px 10px;
            font-family:arial;
            font-weight:bold;
        }
        #not2 a{
            text-decoration: rgba(247, 94, 6, 0.979);
        color:rgba(247, 94, 6, 0.979);
        }
        #not2 a:hover{
            color: rgba(245, 117, 43, 0.979);
        }
        #not3{
            font-size:20px;
            width:170px;
            padding:0px 10px 10px 10px;
            font-family:arial;
            font-weight:bold;
        }
        #not3 a{
            text-decoration: rgba(247, 94, 6, 0.979);
        color:rgba(247, 94, 6, 0.979);
        }
        #not3 a:hover{
            color: rgba(245, 117, 43, 0.979);
        }

        
    
    
    

   

    

